.yafe_slidetounlock {
    font-size: 12px;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#4d4d4d),color-stop(.4,#4d4d4d),color-stop(.5,#fff),color-stop(.6,#4d4d4d),color-stop(1,#4d4d4d));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: yafe_slidetounlock 3s infinite;
    -webkit-text-size-adjust: none
}

@-webkit-keyframes yafe_slidetounlock {
    0% {
        background-position: -200px 0
    }

    100% {
        background-position: 200px 0
    }
}

#yafe_drag {
    position: relative;
    width: 300px;
    height: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    #yafe_drag .yafe_bg {
        position: absolute;
        top: -30px;
        left: 0;
        width: 300px;
        height: 50px;
    }

    #yafe_drag .yafe_drag_ground {
        position: relative;
        top: -160px;
        left: 0;
        width: 300px;
        height: 150px;
        border-radius: 3px;
        display: none;
    }

    #yafe_drag .yafe_drag_map {
        position: relative;
        top: -314px;
        left: 0;
        height: 150px;
        display: none;
    }

    #yafe_drag .yafe_handler {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 32px;
        border: 1px solid #ccc;
        cursor: move;
        background: #fff;
        border-radius: 3px;
    }

        #yafe_drag .yafe_handler span {
            width: 20px;
            height: 15px;
            display: block;
            margin: 9px 13px 0;
            background-image: url(icon.png);
            background-position: 0 -26px;
            background-repeat: no-repeat;
        }

    #yafe_drag .yafe_handler_error span {
        background-position: 3px -40px;
    }

    #yafe_drag .yafe_handler_run span {
        background-position: 0 -13px;
    }

    #yafe_drag .yafe_handler_ok span {
        background-position: 0 0;
    }

    #yafe_drag .yafe_handler:hover {
        background-color: #1991fa;
    }

    #yafe_drag .yafe_handler_ok:hover {
        background: #52ccba;
    }

    #yafe_drag .yafe_handler_error {
        background: #f57a7a;
        border-color: #f57a7a;
    }

    #yafe_drag .yafe_handler_run {
        background: #1991fa;
        border-color: #1991fa;
    }

    #yafe_drag .yafe_handler_ok {
        background: #52ccba;
        border-color: #52ccba;
    }

    #yafe_drag .yafe_drag_bg {
        height: 32px;
        width: 0px;
        position: absolute;
        top: 0px;
        border: 1px solid transparent;
        z-index: 10;
        border-radius: 3px;
    }

    #yafe_drag .yafe_drag_bg_error {
        border-color: #f57a7a;
        background-color: #fce1e1;
    }

    #yafe_drag .yafe_drag_bg_run {
        border-color: #1991fa;
        background-color: #d1e9fe;
    }

    #yafe_drag .yafe_drag_bg_ok {
        border-color: #52ccba;
        background-color: #d2f4ef;
    }

    #yafe_drag .yafe_drag_text {
        position: absolute;
        top: 0px;
        width: 300px;
        color: #45494c;
        border: 1px solid #e4e7eb;
        background-color: #f7f9fa;
        font-size: 12px;
        text-align: center;
        line-height: 32px;
        border-radius: 3px;
    }
